# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/
.cache/

# Sourcemaps
*js.map

# package-lock
*package-lock.json
# *pnpm-lock.yaml
*yarn.lock

# webstorm
*.idea/

# Lerna Debug
lerna-debug.log
*pnpm-debug.log

*.env
!.gitlab-ci.*.env

data/
dist/

# dependencies

# Istanbul Code coverage
.nyc_output/
coverage/

# Swagger File
*.swagger.yaml

# Do not commit build files for backend
**/backend/*/build/

# MacOS files
**/.DS_Store
**/.profraw

# Avoids merge conflicts all the time
**/.tsbuildinfo

# Do not commit lib files for libraries
**/libraries/*/lib/

# Output from test:ci
**/test-results.xml

# eslint cache
**/.eslintcache

# IDE settings
.vscode
.idea

# Ignore Docker Files
docker/dynamodb/shared-local-instance.db

# Ignore PDF FILES
*.pdf

# Ignore credentials for publishing to npm
**/.npmrc